Package: enigma2-plugin-extensions-multibootselector
Version: 1.11
Description: Basic python frontend for multiboot-selector.sh to simply select the slot to boot from.
Architecture: all
Section: extra
Priority: optional
Maintainer: OE-Alliance Team
License: GPL-3.0
Homepage: www.opena.tv
Source: https://github.com/oe-alliance/MultiBootSelectorPlugin
Depends: bash
Replaces: multiboot-selector
Conflicts: multiboot-selector
